<header>
    <ul>
        <li><%= link_to 'Home', '/houses' %></li>
        <li><%#= link_to 'User', users_path(current_user.id) %></li>
        <li><%= link_to 'Logout' , session_path(current_owner.id),method: :delete %></li>
        
        
    </ul>
</header>
<h1><%= @owner.name %>のページ</h1>

<p>メールアドレス: <%= @owner.email %></p>

<table>    
    <tr>
        <% @owner.houses.each do |house| %>
        <td class="user_pic_img"><%= link_to image_tag(house.image.url),picture_path(house.id) %></td>
        <% end %>
        </tr>
    <br >
</table>